﻿<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Config Demo</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="restangular.js"></script>
    <script src="app.js"></script>
  </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div ng-app="project">
                    <div class="jumbotron">
                        <h1>Config App Demo for Starkey</h1>
                        <p>A front end powered by AngularJS. The back end powered by a WCF service and SQL DB on the Azure cloud.</p>
                        <a href="https://bitbucket.org/astommes/configdemo/src" class="btn btn-primary">View Source</a>
                    </div>
                    <div ng-view></div>

                    <script type="text/ng-template" id="list.html">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" ng-model="search" class="search-query form-control" placeholder="Search">
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Description</th>
                                            <th><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in products | filter:search | orderBy:'Name'" >
                                            <td><a href="" target="_blank">{{product.Name}}</a></td>
                                            <td>
                                                <span class="pull-right">
                                                    <label ng-show="product.Active" class="label label-success">active</label>
                                                    <label ng-hide="product.Active" class="label label-danger">inactive</label>
                                                </span>
                                            {{product.ProductDescription}}
                                            </td>
                                            <td>
                                                <a href="#/edit/{{product.Id}}"><i class="glyphicon glyphicon-pencil"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </script>

                    <!-- CACHE FILE: detail.html -->
                    <script type="text/ng-template" id="detail.html">
                        <div class="row">
                            <div class="col-sm-12">
                                    <form name="myForm">
                                        <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                                            <label>Name <span ng-show="myForm.name.$error.required" class="help-inline">(Required)</span></label>
                                            <input class="form-control" type="text" name="name" ng-model="product.Name" maxlength="50" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" name="description" ng-model="product.ProductDescription" maxlength="300"></textarea>
                                            <br>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" ng-model="product.Active" >Active</label>
                                        </div>
                                        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                                                class="btn btn-success">
                                            Save
                                        </button>
                                        <a href="#/" class="btn btn-warning">Cancel</a>
                                        <button ng-click="destroy()"
                                                ng-show="project._id" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
